<div class="iq-news-teaser">
  <a href="{{href}}">
    <div class="inner">
      <div class="img-holder">
        <img src="{{image}}" title="{{title}}" alt="{{title}}" />
      </div>
      <div class="content-holder">
        <p class="pre-title">{{pre_title}}</p>
        <p class="title">{{title}}</p>
        <p class="sub-title">{{sub_title}}</p>
        <div class="content">{{content}}</div>
        <p class="btn">{{href_text}} <i class="fas fa-chevron-right"></i></p>
      </div>
    </div>
  </a>
</div>
